<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5">
<listeners>
<listener class-name = "utilities.ExtentReportManager"/>
</listeners>
<test name="AndroidDeviceTest">
  <parameter name="deviceName" value="emulator-5554"/>
  <parameter name="systemPort" value="8200"/>
    <classes>
      <class name="testCases.LaunchApp"/>
      <class name="testCases.LetsShop"/>
      <class name="testBase.BaseClass"/>
      <class name="testCases.CompletePurchase"/>
      <class name="testCases.AddToCart"/>
      <class name="testCases.TermsAndConditions"/>
      <class name="testCases.ValidateToastMessage"/>
      <class name="testCases.ShopSelectingUnitedStates"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
